ㅤ<!doctype html>
<html lang="eng">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="DESI IT & TECHNOLOGIES ⬩ ABOUT SHEHRYAR ">
    <meta property="og:description" content="Who is Shehryar">
    <meta property="og:image" content="https://cdn.discordapp.com/attachments/790118661327159296/1046338232725540874/desi_tech.png">
    <meta name="theme-color" content="#1f27cc">
    <meta name="description" content="Who is Shehryar">
    <link rel="favicon" type="image/png" href="logo.png">
    <title>ABOUT SHEHRYAR ⬩ DESI IT & TECHNOLOGIES</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/fontawsom-all.min.css">
    <link rel="stylesheet" href="assets/plugins/testimonial/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/plugins/testimonial/css/owl.theme.min.css">
    <link rel="stylesheet" href="assets/css/index.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
     <!-- ***************************** PRELOADER *********************************-->
<!-- 
     <div class="preloader" id="preloader">
        <div class="content d-flex align-items-center justify-content-center">
           <div class="spinner"></div>
        </div>
     </div> -->
    <!-- ***************************** Head Starts Here *********************************-->
    <div class="head-cover">
        <header id="menu-jk" class="container-fluid">
           <div class="container">
               <div class="row head-ro">
                   <div class="col-md-3 logo">
                                              <a href="/"><img src="assets/images/logo.png" alt=""></a>



                                <a class="d-md-none small-menu" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">

                               <i class="fas d-lg-none  fa-bars"></i>
                          </a>
                   </div>
                   <div id="collapseExample" class="col-md-9  nav">
                       <ul>
                           <li><a href="/">Home</a></li>
                           <li><a href="/about.html">About Us</a></li>
                           <li><a href="/consulting.html">Consulting</a></li>
                           <li><a href="/contact.html">Contact Us</a></li>
                           <li><a href="/faq.html">FAQ</a></li>
                           <li class="btnll"><a href="https://panel.desitechnologies.org" target="_blank">
                               <button class="btn btn-sm btn-primary">
                               Client Area
                           </button></a></li>
                       </ul>
                   </div>
               </div>
           </div>

       </header>
   </div>
   <script charset="utf-8" type="text/javascript" src="//js-eu1.hsforms.net/forms/embed/v2.js"></script>
    <!--  ************************* Page Title Starts Here ************************** -->
    <div class="page-nav no-margin row">
        <div class="container">
        <div class="row">
            <h2>ABOUT SHEHRYAR</h2>
            <ul>
                <li> <a href="/"><i class="fas fa-home"></i> Home</a></li>
                <li><a href="/about"><i class="fas fa-angle-double-right"></i> About</a></li>
                <li><i class="fas fa-angle-double-right"></i> Shehryar</li>
            </ul>
        </div>
    </div>
</div>
      <!--  ************************* Contact Us Starts Here ************************** -->
      <section class="container-fluid pt-0 about-coo">
        <div class="container">
            <div class="row about-row">
                <div class="col-md-12 about-text">
                    <h1>More About Shehryar! </h1>
                    <p>Shehryar, as the Chief Operating Officer (COO), is a highly accomplished and visionary leader who brings a wealth of experience and expertise to the organization. With a proven track record of driving operational excellence and fostering growth, Shehryar plays a pivotal role in ensuring the efficient and effective functioning of the company's day-to-day operations.<br><br>
                        As a strategic thinker, Shehryar works closely with the CEO and other executives to develop and execute business strategies that align with the organization's overall objectives. With a deep understanding of the industry landscape and market dynamics, Shehryar identifies opportunities for growth, streamlines operational processes, and implements innovative solutions to enhance productivity and profitability.<br><br>
                        Shehryar's leadership extends across various functional areas, including finance, human resources, technology, and operations. By collaborating with department heads and cross-functional teams, Shehryar promotes a culture of collaboration, fosters synergy among different teams, and ensures seamless coordination to achieve organizational goals.<br><br>
                        With a sharp focus on operational efficiency, Shehryar continually evaluates key performance indicators, analyzes data, and implements performance improvement strategies. By optimizing resource allocation, enhancing workflows, and leveraging technology, Shehryar drives operational excellence and enhances the company's competitive advantage.<br><br>
                        Moreover, Shehryar is a strong advocate for talent development and employee engagement. Recognizing the importance of a motivated and skilled workforce, Shehryar implements strategies to attract, retain, and develop top talent. By fostering a positive and inclusive work environment, Shehryar nurtures a high-performing team that is committed to delivering exceptional results.</p>
                </div>
            </div>
        </div>
      </section>
      <hr>
      <br><br>
            <br><br>
        <div class="container-fluid key-featurecont">
          <div class="container">
              <div class="row key-ro">
                  <div class="row section-title">
                      <h2>Other Members</h2>
                      <p>We are better then others!</p>
                  </div>
                  
                  <div class="col-md-4 keycol">
                     <br><br>
                    <div class="key-cover">
                          <div class="text-cc">
                              <h3>Rehman</h3>
                              <h5>CEO</h5>
                              <br>
                              <span>
                                <a href="https://www.linkedin.com/in/abdul-r-00b683249/"><i class="fab fa-linkedin"></i></a>
                                <!-- <a><i class="fab fa-twitter"></i></a> -->
                              </span>
                              <br>
                              <a href="/rehman">View more &raquo;</a>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 keycol">
                     <br><br>
                     <div class="key-cover">
                          <div class="text-cc">
                              <h3>Rehan</h3>
                              <h5>CTO</h5>
      
                              <br>
                              <span>
                                <a href="https://www.linkedin.com/in/rehan-nizamani-620b28247/"><i class="fab fa-linkedin"></i></a>
                                <!-- <a><i class="fab fa-twitter"></i></a> -->
                              </span>
                              <br>
                              <a href="/rehan">View more &raquo;</a>
                      </div>
                      </div>
                  </div>
                  <div class="col-md-4 keycol">
                      <br><br>
                     <div class="key-cover">
                          <div class="text-cc">
                              <h3>Asher</h3>
                              <h5>CSO</h5>
                              <br>
                              <span>
                                <a href="https://www.linkedin.com/in/muhammad-ashar-0902a6257/"><i class="fab fa-linkedin"></i></a>
                                <!-- <a><i class="fab fa-twitter"></i></a> -->
                              </span>
                              <br>
                              <a href="/asher">View more &raquo;</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <br><br>
      <br><br>
      <br><br>
      <br><br>
      <br><br>
      <br><br>
      <br><br>
      <br><br>
      <br><br>
      <br><br>
      <br><br>
      <br><br>
      <br><br>
      <br><br>
<!--********************************* Footer Starts Here ********************************************-->

<div class="footer-ablove">
    <div class="container">
        <div class="row">
            <p>support@desitechnologies.org
              <a href="/contact"><button class="btn btn-default">Contact Us!</button></a>
            </p>
        </div>
    </div>
</div>
<br>
</footer>
<div class="copy">
    <div class="container">
        <a href="/">2023 &copy; All Rights Reserved | Designed and Developed by Desi IT & Technologies</a>
        <span>
            <a href="https://www.linkedin.com/company/87428498/"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.instagram.com/desiittechnologies/"><i class="fab fa-instagram"></i></a>
        </span>
    </div>
</div>
</body>

<script src="assets/js/jquery-3.2.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/plugins/testimonial/js/owl.carousel.min.js"></script>
<script src="assets/plugins/scroll-fixed/jquery-scrolltofixed-min.js"></script>
<script src="assets/js/script.js"></script>
</html>
