ㅤ<!doctype html>
<html lang="eng">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="DESI IT & TECHNOLOGIES ⬩ ABOUT US">
    <meta property="og:description" content="Want to know about us?">
    <meta property="og:image" content="https://cdn.discordapp.com/attachments/790118661327159296/1046338232725540874/desi_tech.png">
    <meta name="theme-color" content="#1f27cc">
    <meta name="description" content="Want to know about us?">
    <title>ABOUT US ⬩ DESI IT & TECHNOLOGIES</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/fontawsom-all.min.css">
    <link rel="stylesheet" href="assets/plugins/testimonial/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/plugins/testimonial/css/owl.theme.min.css">
    <link rel="stylesheet" href="assets/css/index.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <!-- ***************************** PRELOADER *********************************-->

    <!-- <div class="preloader" id="preloader">
        <div class="content d-flex align-items-center justify-content-center">
           <div class="spinner"></div>
        </div>
     </div> -->


    <!-- ***************************** Head Starts Here *********************************-->
    <div class="head-cover">
        <header id="menu-jk" class="container-fluid">
           <div class="container">
               <div class="row head-ro">
                   <div class="col-md-3 logo">
                                              <a href="/"><img src="assets/images/logo.png" alt=""></a>



                                <a class="d-md-none small-menu" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">

                               <i class="fas d-lg-none  fa-bars"></i>
                          </a>
                   </div>
                   <div id="collapseExample" class="col-md-9  nav">
                       <ul>
                           <li><a href="/">Home</a></li>
                           <li><a href="/about.html">About Us</a></li>
                           <li><a href="/consulting.html">Consulting</a></li>
                           <li><a href="/contact.html">Contact Us</a></li>
                           <li><a href="/faq.html">FAQ</a></li>
                           <li class="btnll"><a href="https://panel.desitechnologies.org" target="_blank">
                               <button class="btn btn-sm btn-primary">
                               Client Area
                           </button></a></li>
                       </ul>
                   </div>
               </div>
           </div>

       </header>
   </div>
   <script charset="utf-8" type="text/javascript" src="//js-eu1.hsforms.net/forms/embed/v2.js"></script>

    <!--  ************************* Page Title Starts Here ************************** -->
<div class="page-nav no-margin row">
    <div class="container">
        <div class="row">
            <h2>ABOUT US</h2>
            <ul>
                <li> <a href="/"><i class="fas fa-home"></i> Home</a></li>
                <li><i class="fas fa-angle-double-right"></i> About Us</li>
            </ul>
            
        </div>
        <br><br>
        <h2>There are virtually no limits to what We can achieve.</h2>
    </div>


</div>
    <!--  ************************* LEFT ************************** -->
<section class="container-fluid pt-0 about-coo">
    <div class="container">
  
        <div class="row about-row">
            <div class="col-md-5 about-img">
                <img src="assets/images/cloud_computing.gif" alt="">
            </div>
            <div class="col-md-6 about-text">
                <h1>Desi IT & Technologies Leads the Way in Pakistan</h1>
                <p>As a Pakistan-based Organization, Desi IT & Technologies aims to improve the customer experience by offering the best Security services. Our main objective is to provide security to your hosting using the latest technologies/firewalls.<br><br>
                    Since we are the first company that provides the best DDoS Solutions secure and cheap hosting services, we can confidently say that we are the best.<br>​Our team of experts will provide you with a best-in-class website security solution and make your website more secure. We have observed that the majority of websites in Pakistan are not updated with the current cyber security best practices and are very vulnerable to attacks.<br><br>
                    We have seen that the majority of people in Pakistan are not aware of network security and how important it is for their business. Network security is critical for the success of any business.</p>
            </div>
        </div>
    </div>
  </section>
  <hr>
    <!--  ************************* Right ************************** -->
  <section class="container-fluid pt-0 about-coo">
    <div class="container">
  
        <div class="row about-row">
        
            <div class="col-md-6 about-text">
                <h1>Empowering Businesses with Desi IT & Technologies</h1>
                <p>We have been working in this industry for more than 3 years, and we have thousands of happy clients. Our main aim is to make hosting easy for everyone. We offer the best DDoS protection to our clients. You can host your website/service on our servers, and no one will be able to hack your website. Moreover, our team is available 24/7 to solve your problems. You can contact us through social media or emails. Go ahead and try our services.<br><br>
                    The system we use today was developed back in 2020 while we were providing services exclusively to the private sector. Since 2021, public services have been available.<br><br>
                    Desi IT & Technologies is a DDoS protection company specializing in helping businesses and individuals prevent DDoS attacks. As a developer and enterprise service provider, we aim to provide a flexible service at an affordable price. The system we use today was developed back in 2020 while we were exclusively serving the private sector. Since 2021, our services have been available to the public.</p>
            </div>
            <div class="col-md-5 about-img">
                <img src="assets/images/cloud2.gif" alt="">
            </div>
        </div>
    </div>
  </section>

  <hr>
  <br><br>
  <br><br>
  
  <div class="container-fluid key-featurecont">
    <div class="container">
        <div class="row key-ro">
            <div class="row section-title">
                <h2>Our Team</h2>
                <p>Meet Our Team!</p>
            </div>
<br><br>
            
            <div class="col-md-3 keycol">
                <div class="key-cover">
                    <div class="text-cc">
                        <h3>Abdul Rehman</h3>
                        <h5>CEO</h5>
                        <br>
                        <span>
                            <a href="https://www.linkedin.com/in/abdul-r-00b683249/"><i class="fab fa-linkedin"></i></a>
                            <!-- <a><i class="fab fa-twitter"></i></a> -->
                        </span>
                        <br>
                        <a href="/rehman">View more &raquo;</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 keycol">
                <div class="key-cover">
                    <div class="text-cc">
                        <h3>Rehan</h3>
                        <h5>CTO</h5>
                        <br>
                        <span>
                            <a href="https://www.linkedin.com/in/rehan-nizamani-620b28247/"><i class="fab fa-linkedin"></i></a>
                            <!-- <a><i class="fab fa-twitter"></i></a> -->
                        </span>
                        <br>
                        <a href="/rehan">View more &raquo;</a>
                </div>
                </div>
            </div>
            <div class="col-md-3 keycol">
                <div class="key-cover">
                    <div class="text-cc">
                        <h3>Asher</h3>
                        <h5>CSO</h5>

                        <br>
                        <span>
                            <a href="https://www.linkedin.com/in/muhammad-ashar-0902a6257/"><i class="fab fa-linkedin"></i></a>
                            <!-- <a><i class="fab fa-twitter"></i></a> -->
                        </span>
                        <br>
                        <a href="/asher">View more &raquo;</a>
                </div>
                </div>
            </div>
            <div class="col-md-3 keycol">
                <div class="key-cover">
                    <div class="text-cc">
                        <h3>Shehryar</h3>
                        <h5>COO</h5>
                        <br>
                        <span>
                            <!-- <a href="https://www.linkedin.com/company/87428498/"><i class="fab fa-linkedin"></i></a> -->
                            <!-- <a><i class="fab fa-twitter"></i></a> -->
                        </span>
                        <br>
                        <a href="/shehryar">View more &raquo;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
<br><br>
<br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<div class="row section-title">
    <h3>"Great things in business are never done by one person!"</h3>
</div>
<br><br><br><br>
<br><br>
<br><br>
<br><br>
<br><br><br><br>
<!--********************************* Footer Starts Here ********************************************-->

<div class="footer-ablove">
    <div class="container">
        <div class="row">
            <p>support@desitechnologies.org
                <button class="btn btn-default">Contact Us! </button>
            </p>
        </div>
    </div>
</div>

<br>

<div class="copy">
    <div class="container">
        <a href="/">2023 &copy; All Rights Reserved | Designed and Developed by Desi IT & Technologies</a>
        <span>
            <a href="https://www.linkedin.com/company/87428498/"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.instagram.com/desiittechnologies/"><i class="fab fa-instagram"></i></a>
        </span>
    </div>
</div>

</body>

<script src="assets/js/jquery-3.2.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/plugins/testimonial/js/owl.carousel.min.js"></script>
<script src="assets/plugins/scroll-fixed/jquery-scrolltofixed-min.js"></script>
<script src="assets/js/script.js"></script>

</html>
